In [80]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, LongType, TimestampType
from pyspark.sql.functions import col, to_date
from pyspark.sql import functions as F, types as T

In [2]:
spark = SparkSession.builder.appName("NYC Parking Tickets").getOrCreate()

### **DATA**

In [194]:
df = spark.read.csv('/content/sample_data/nyc_parking_tickets/*.csv', header=True, inferSchema=True)
df2= spark.read.csv('/content/sample_data/violation_codes/*.csv', header=True, inferSchema=True)

In [173]:
df.show()

+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+
|Summons Number|Plate ID|Registration State|Plate Type|Issue Date|Violation Code|Vehicle Body Type|Vehicle Make|Issuing Agency|Street Code1|Street Code2|Street Code3|Vehicle Expiration Date|Violation Location|Violation Precinct|Issuer Precinct|Issuer Code|Issuer Command|Issuer Squad|Violation Time|Time First Observed|Violation County|Violation In Front Of Or Opposite|House Number|         Street Name|Intersecting Street|Date First Observed|Law Section|Sub Division|Violation Legal Code|Days Parking In Effect    |From Hours In Effect|To Hours In Effect|Vehicle Color|Unregistered Vehicle?|Vehicle Year|Meter Number|Feet From Curb|Violation Post Code|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+
|    1492814167| JEA3777|                NY|       PAS|01/02/2025|            20|             TAXI|       VOLVO|             P|           0|       40404|       40404|               20250102|                88|                88|            803|     950192|          0803|        0000|         0621P|               NULL|               K|                                F|         125|      NORTH PORTLAND|               NULL|                  0|        408|          F1|                NULL|                   BBBBBBB|                 ALL|               ALL|          BLK|                    0|        2011|           -|             0|               NULL|
|    4042039145| KKA8982|                NY|       PAS|01/02/2025|             5|             4DSD|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0702A|               NULL|              BK|                             NULL|        NULL|WB CHURCH AVE @ E 8T|               H ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           RD|                 NULL|        2020|        NULL|             0|               NULL|
|    4042039510| MSA3480|                PA|       PAS|01/02/2025|             5|               CP|         BMW|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0757A|               NULL|              QN|                             NULL|        NULL|EB JAMAICA AVE @ SUT|          PHIN BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                 NULL|        2021|        NULL|             0|               NULL|
|    4042039522| 63383NA|                NY|       COM|01/02/2025|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                 NULL|        2020|        NULL|             0|               NULL|
|    4042039534| 63383NA|                NY|       COM|01/02/2025|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                 NULL|        2020|        NULL|             0|               NULL|
|    4042039546| LWL6395|                PA|       PAS|01/02/2025|             5|              SDN|       LEXUS|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                 NULL|        2019|        NULL|             0|               NULL|
|    4042039558| 22312NE|                NY|       COM|01/02/2025|             5|             DELV|       FRUEH|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|EB CHURCH AVE @ CONE|       Y ISLAND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GR|                 NULL|        2024|        NULL|             0|               NULL|
|    4042039560|T131642C|                NY|       OMT|01/02/2025|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0804A|               NULL|              QN|                             NULL|        NULL| NB WOODHAVEN BLVD @|           97TH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                 NULL|        2023|        NULL|             0|               NULL|
|    4042039571| TKT1742|                TX|       PAS|01/02/2025|             5|               LL|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ E 1|            94TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                 NULL|        2011|        NULL|             0|               NULL|
|    4042039583|T799929C|                NY|       OMT|01/02/2025|             5|             4DSD|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BK|                             NULL|        NULL|WB KINGS HIGHWAY @ E|            37TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                 NULL|        2015|        NULL|             0|               NULL|
|    4042039595| KLA7363|                NY|       PAS|01/02/2025|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0807A|               NULL|              QN|                             NULL|        NULL|SB MAIN ST @ SANFORD|                AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                 NULL|        2018|        NULL|             0|               NULL|
|    4042039601| LJP3596|                NY|       PAS|01/02/2025|             5|             PICK|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|              TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                 NULL|        2023|        NULL|             0|               NULL|
|    4042039613|  M98RUH|                NJ|       PAS|01/02/2025|             5|             SEDA|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                 NULL|        2012|        NULL|             0|               NULL|
|    4042039625| LSG3024|                PA|       PAS|01/02/2025|             5|              SDN|       INFIN|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0811A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                 NULL|        2018|        NULL|             0|               NULL|
|    4042039637| LAP5753|                NY|       PAS|01/02/2025|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0812A|               NULL|              MN|                             NULL|        NULL|EB W 181ST ST @ WADS|          WORTH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         LTBK|                 NULL|        2019|        NULL|             0|               NULL|
|    4042039649| LFM6699|                NY|       PAS|01/02/2025|             5|             SUBN|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|NB SMITH ST @ FULTON|               MALL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                 NULL|        2024|        NULL|             0|               NULL|
|    4042039650| DNW2856|                NY|       PAS|01/02/2025|             5|             SUBN|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|SB NOSTRAND AVE @ EA|         STERN PKWY|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                 NULL|        2005|        NULL|             0|               NULL|
|    4042039662| JPL1592|                NY|       PAS|01/02/2025|             5|             SUBN|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0814A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                 NULL|        2022|        NULL|             0|               NULL|
|    4042039674| KYN5423|                NY|       PAS|01/02/2025|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0815A|               NULL|              ST|                             NULL|        NULL|NB HYLAN BLVD @ MIDL|            AND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BL|                 NULL|        2009|        NULL|             0|               NULL|
|    4042039686| 565202T|                TN|       PAS|01/02/2025|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                 NULL|        2025|        NULL|             0|               NULL|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+
only showing top 20 rows

In [195]:
df2.show()

+--------------+---------------------+---------------+------------+
|VIOLATION CODE|VIOLATION DESCRIPTION|Manhattan_FineA|Others_FineA|
+--------------+---------------------+---------------+------------+
|             1| FAILURE TO DISPLA...|            515|         515|
|             2| NO OPERATOR NAM/A...|            515|         515|
|             3| UNAUTHORIZED PASS...|            515|         515|
|             4| BUS PARKING IN LO...|            115|         115|
|             5|   BUS LANE VIOLATION|             50|          50|
|             6| OVERNIGHT TRACTOR...|            265|         265|
|             7| FAILURE TO STOP A...|             50|          50|
|             8|               IDLING|            115|         115|
|             9| OBSTRUCTING TRAFF...|            115|         115|
|            10| NO STOPPING-DAY/T...|            115|         115|
|            11| NO STANDING-HOTEL...|            115|         115|
|            12| MOBILE BUS LANE V...|             50|          50|
|            13| NO STANDING-TAXI ...|            115|         115|
|            14| NO STANDING-DAY/T...|            115|         115|
|            15| NO STANDING-OFF-S...|            115|         115|
|            16| NO STANDING-EXC. ...|             95|          95|
|            17| NO STANDING-EXC. ...|             95|          95|
|            18| NO STANDING-BUS LANE|            115|         115|
|            19| NO STANDING-BUS STOP|            115|         115|
|            20| NO PARKING-DAY/TI...|             65|          60|
+--------------+---------------------+---------------+------------+
only showing top 20 rows

In [174]:
df.printSchema()

root
 |-- Summons Number: long (nullable = true)
 |-- Plate ID: string (nullable = true)
 |-- Registration State: string (nullable = true)
 |-- Plate Type: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Violation Code: integer (nullable = true)
 |-- Vehicle Body Type: string (nullable = true)
 |-- Vehicle Make: string (nullable = true)
 |-- Issuing Agency: string (nullable = true)
 |-- Street Code1: integer (nullable = true)
 |-- Street Code2: integer (nullable = true)
 |-- Street Code3: integer (nullable = true)
 |-- Vehicle Expiration Date: integer (nullable = true)
 |-- Violation Location: integer (nullable = true)
 |-- Violation Precinct: integer (nullable = true)
 |-- Issuer Precinct: integer (nullable = true)
 |-- Issuer Code: integer (nullable = true)
 |-- Issuer Command: string (nullable = true)
 |-- Issuer Squad: string (nullable = true)
 |-- Violation Time: string (nullable = true)
 |-- Time First Observed: string (nullable = true)
 |-- Violation County: string (nullable = true)
 |-- Violation In Front Of Or Opposite: string (nullable = true)
 |-- House Number: string (nullable = true)
 |-- Street Name: string (nullable = true)
 |-- Intersecting Street: string (nullable = true)
 |-- Date First Observed: integer (nullable = true)
 |-- Law Section: integer (nullable = true)
 |-- Sub Division: string (nullable = true)
 |-- Violation Legal Code: string (nullable = true)
 |-- Days Parking In Effect    : string (nullable = true)
 |-- From Hours In Effect: string (nullable = true)
 |-- To Hours In Effect: string (nullable = true)
 |-- Vehicle Color: string (nullable = true)
 |-- Unregistered Vehicle?: string (nullable = true)
 |-- Vehicle Year: integer (nullable = true)
 |-- Meter Number: string (nullable = true)
 |-- Feet From Curb: integer (nullable = true)
 |-- Violation Post Code: string (nullable = true)

In [196]:
df2.printSchema()

root
 |-- VIOLATION CODE: integer (nullable = true)
 |-- VIOLATION DESCRIPTION: string (nullable = true)
 |-- Manhattan_FineA: integer (nullable = true)
 |-- Others_FineA: integer (nullable = true)

In [62]:
df.count()

3532970

In [202]:
#Update the structure of the data
schema = StructType([
    StructField('Summons Number', LongType(), True),
    StructField('Plate ID', StringType(), True),
    StructField('Registration State', StringType(), True),
    StructField('Plate Type', StringType(), True),
    StructField('Issue Date', StringType(), True),
    StructField('Violation Code', IntegerType(), True),
    StructField('Vehicle Body Type', StringType(), True),
    StructField('Vehicle Make', StringType(), True),
    StructField('Issuing Agency', StringType(), True),
    StructField('Street Code1', IntegerType(), True),
    StructField('Street Code2', IntegerType(), True),
    StructField('Street Code3', IntegerType(), True),
    StructField('Vehicle Expiration Date', IntegerType(), True),
    StructField('Violation Location', StringType(), True),
    StructField('Violation Precinct', IntegerType(), True),
    StructField('Issuer Precinct', IntegerType(), True),
    StructField('Issuer Code', IntegerType(), True),
    StructField('Issuer Command', StringType(), True),
    StructField('Issuer Squad', StringType(), True),
    StructField('Violation Time', StringType(), True),
    StructField('Time First Observed', StringType(), True),
    StructField('Violation County', StringType(), True),
    StructField('Violation In Front Of Or Opposite', StringType(), True),
    StructField('House Number', StringType(), True),
    StructField('Street Name', StringType(), True),
    StructField('Intersecting Street', StringType(), True),
    StructField('Date First Observed', IntegerType(), True),
    StructField('Law Section', IntegerType(), True),
    StructField('Sub Division', StringType(), True),
    StructField('Violation Legal Code', StringType(), True),
    StructField('Days Parking In Effect    ', StringType(), True),
    StructField('From Hours In Effect', StringType(), True),
    StructField('To Hours In Effect', StringType(), True),
    StructField('Vehicle Color', StringType(), True),
    StructField('Unregistered Vehicle?:', StringType(), True),
    StructField('Vehicle Year', StringType(), True),
    StructField('Meter Number', StringType(), True),
    StructField('Feet From Curb', StringType(), True),
    StructField('Violation Post Code', StringType(), True)

])

In [237]:
#Update the structure of the data
schema2 = StructType([
    StructField('VIOLATION CODE', IntegerType(), True),
    StructField('VIOLATION DESCRIPTION', StringType(), True),
    StructField('Manhattan_FineA', IntegerType(), True),
    StructField('Others_FineA', IntegerType(), True)

])

In [203]:
#update the dataframe with the structure
df = spark.read.csv('/content/sample_data/nyc_parking_tickets/*.csv', header=True, schema=schema)

In [204]:
#Update the columns name
for col in df.columns:
    df = df.withColumnRenamed(col, col.lower().replace(' ', '_').replace('-', '_'))

In [201]:
for col in df2.columns:
    df2 = df2.withColumnRenamed(col, col.lower().replace(' ', '_').replace('-', '_'))

In [235]:
df.show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+----------------+------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|         issue_date|Month_Issue_Date|violation_day_time|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+----------------+------------------+
|    1492814167| JEA3777|                NY|       PAS|            20|             TAXI|       VOLVO|             P|           0|       40404|       40404|               20250102|              0088|                88|            803|     950192|          0803|        0000|         0621P|               NULL|               K|                                F|         125|      NORTH PORTLAND|               NULL|                  0|        408|          F1|                NULL|                   BBBBBBB|                 ALL|               ALL|          BLK|                     0|        2011|           -|             0|               NULL|2025-01-02 00:00:00|               1|         Afternoon|
|    4042039145| KKA8982|                NY|       PAS|             5|             4DSD|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0702A|               NULL|              BK|                             NULL|        NULL|WB CHURCH AVE @ E 8T|               H ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           RD|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039510| MSA3480|                PA|       PAS|             5|               CP|         BMW|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0757A|               NULL|              QN|                             NULL|        NULL|EB JAMAICA AVE @ SUT|          PHIN BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039522| 63383NA|                NY|       COM|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039534| 63383NA|                NY|       COM|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039546| LWL6395|                PA|       PAS|             5|              SDN|       LEXUS|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039558| 22312NE|                NY|       COM|             5|             DELV|       FRUEH|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|EB CHURCH AVE @ CONE|       Y ISLAND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GR|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039560|T131642C|                NY|       OMT|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0804A|               NULL|              QN|                             NULL|        NULL| NB WOODHAVEN BLVD @|           97TH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039571| TKT1742|                TX|       PAS|             5|               LL|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ E 1|            94TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2011|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039583|T799929C|                NY|       OMT|             5|             4DSD|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BK|                             NULL|        NULL|WB KINGS HIGHWAY @ E|            37TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2015|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039595| KLA7363|                NY|       PAS|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0807A|               NULL|              QN|                             NULL|        NULL|SB MAIN ST @ SANFORD|                AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039601| LJP3596|                NY|       PAS|             5|             PICK|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|              TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039613|  M98RUH|                NJ|       PAS|             5|             SEDA|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2012|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039625| LSG3024|                PA|       PAS|             5|              SDN|       INFIN|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0811A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039637| LAP5753|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0812A|               NULL|              MN|                             NULL|        NULL|EB W 181ST ST @ WADS|          WORTH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         LTBK|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039649| LFM6699|                NY|       PAS|             5|             SUBN|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|NB SMITH ST @ FULTON|               MALL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039650| DNW2856|                NY|       PAS|             5|             SUBN|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|SB NOSTRAND AVE @ EA|         STERN PKWY|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2005|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039662| JPL1592|                NY|       PAS|             5|             SUBN|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0814A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2022|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039674| KYN5423|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0815A|               NULL|              ST|                             NULL|        NULL|NB HYLAN BLVD @ MIDL|            AND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BL|                  NULL|        2009|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039686| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+----------------+------------------+
only showing top 20 rows

In [236]:
df2.show()

+--------------+---------------------+---------------+------------+
|violation_code|violation_description|manhattan_finea|others_finea|
+--------------+---------------------+---------------+------------+
|             1| FAILURE TO DISPLA...|            515|         515|
|             2| NO OPERATOR NAM/A...|            515|         515|
|             3| UNAUTHORIZED PASS...|            515|         515|
|             4| BUS PARKING IN LO...|            115|         115|
|             5|   BUS LANE VIOLATION|             50|          50|
|             6| OVERNIGHT TRACTOR...|            265|         265|
|             7| FAILURE TO STOP A...|             50|          50|
|             8|               IDLING|            115|         115|
|             9| OBSTRUCTING TRAFF...|            115|         115|
|            10| NO STOPPING-DAY/T...|            115|         115|
|            11| NO STANDING-HOTEL...|            115|         115|
|            12| MOBILE BUS LANE V...|             50|          50|
|            13| NO STANDING-TAXI ...|            115|         115|
|            14| NO STANDING-DAY/T...|            115|         115|
|            15| NO STANDING-OFF-S...|            115|         115|
|            16| NO STANDING-EXC. ...|             95|          95|
|            17| NO STANDING-EXC. ...|             95|          95|
|            18| NO STANDING-BUS LANE|            115|         115|
|            19| NO STANDING-BUS STOP|            115|         115|
|            20| NO PARKING-DAY/TI...|             65|          60|
+--------------+---------------------+---------------+------------+
only showing top 20 rows

In [207]:
#Review the schema of the data
df.printSchema()

root
 |-- summons_number: long (nullable = true)
 |-- plate_id: string (nullable = true)
 |-- registration_state: string (nullable = true)
 |-- plate_type: string (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- violation_code: integer (nullable = true)
 |-- vehicle_body_type: string (nullable = true)
 |-- vehicle_make: string (nullable = true)
 |-- issuing_agency: string (nullable = true)
 |-- street_code1: integer (nullable = true)
 |-- street_code2: integer (nullable = true)
 |-- street_code3: integer (nullable = true)
 |-- vehicle_expiration_date: integer (nullable = true)
 |-- violation_location: string (nullable = true)
 |-- violation_precinct: integer (nullable = true)
 |-- issuer_precinct: integer (nullable = true)
 |-- issuer_code: integer (nullable = true)
 |-- issuer_command: string (nullable = true)
 |-- issuer_squad: string (nullable = true)
 |-- violation_time: string (nullable = true)
 |-- time_first_observed: string (nullable = true)
 |-- violation_county: string (nullable = true)
 |-- violation_in_front_of_or_opposite: string (nullable = true)
 |-- house_number: string (nullable = true)
 |-- street_name: string (nullable = true)
 |-- intersecting_street: string (nullable = true)
 |-- date_first_observed: integer (nullable = true)
 |-- law_section: integer (nullable = true)
 |-- sub_division: string (nullable = true)
 |-- violation_legal_code: string (nullable = true)
 |-- days_parking_in_effect____: string (nullable = true)
 |-- from_hours_in_effect: string (nullable = true)
 |-- to_hours_in_effect: string (nullable = true)
 |-- vehicle_color: string (nullable = true)
 |-- unregistered_vehicle?:: string (nullable = true)
 |-- vehicle_year: string (nullable = true)
 |-- meter_number: string (nullable = true)
 |-- feet_from_curb: string (nullable = true)
 |-- violation_post_code: string (nullable = true)

In [89]:
df.describe().show()

+-------+--------------------+--------+------------------+----------+----------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+-------------------+----------------+---------------------------------+--------------------+-----------------+-------------------+-------------------+-----------------+------------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------------+------------------+-------------------+-------------------+
|summary|      summons_number|plate_id|registration_state|plate_type|issue_date|    violation_code|  vehicle_body_type|      vehicle_make|    issuing_agency|      street_code1|      street_code2|      street_code3|vehicle_expiration_date|violation_location|violation_precinct|   issuer_precinct|       issuer_code|    issuer_command|        issuer_squad|   violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|        house_number|      street_name|intersecting_street|date_first_observed|      law_section|      sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|      vehicle_year|      meter_number|     feet_from_curb|violation_post_code|
+-------+--------------------+--------+------------------+----------+----------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+-------------------+----------------+---------------------------------+--------------------+-----------------+-------------------+-------------------+-----------------+------------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------------+------------------+-------------------+-------------------+
|  count|             3532970| 3532970|           3532970|   3532970|   3532970|           3532970|            3524889|           3530197|           3532970|           3532970|           3532970|           3532970|                3532970|           1958370|           3532970|           3532970|           3532970|           1960423|             1829243|          3532936|             207964|         3410061|                          1946580|             1935646|          3532733|            1852784|            3532970|          3532970|           3532628|             1572548|                   1925383|             1124879|           1124879|      3184077|                 51414|           3532970|            442465|            3532970|            1777840|
|   mean| 6.957173747988805E9|Infinity|              99.0|     999.0|      NULL|33.233786587488716| 3.9090403974375736|              12.5| 5.394934976043806|17006.762434722063|14483.327633973682|14387.258115126933|    1.801167518489939E7| 55.66735652609057|30.857120496352927| 29.42591389114541|211929.58600497598|145.12335130382655|1.751961223258258...|            539.0| 0.6729654612693041|            NULL|                             NULL|7.445705912486151E73|237.5090909090909| 2027.0425531914893|  80101.51379179557| 679.165654675811| 79.21910112359551|                 0.0|                      NULL|   862.6315789473684| 636.8064516129032|         NULL|                   0.0|1665.6721424184184|245230.30935404616|0.07147753872803901|  25.66479588177887|
| stddev|2.3497473043870754E9|     NaN|               0.0|       0.0|      NULL|18.217746834033548|0.44994086975347575|16.263455967290593|2.4849027045839125|21843.418305396986|20705.172174859294|20721.003317232175|   2.6050362430349074E7| 38.02552800879079|39.586307706215344|49.388736360070986|210716.63170390422|269.50264200016926|0.039708501620338545|806.6942419529223|  32.50540734433333|            NULL|                             NULL|8.628850394163835E76|668.0865677087528|  1788.261080995176| 1271083.8569911649|362.3220528070569|38.317017628966205|                NULL|                      NULL|  505.75402569126817|488.80210169725734|         NULL|                   0.0| 765.4941958825476|141829.06653680833|  0.607065052106158|  25.69414669867009|
|    min|          1154851904|   $AINT|                99|       999|01/02/2025|                 0|                 00|                 .|                 1|                 0|                 0|                 0|                      0|              0001|                 0|                 0|                 0|              .116|                0000|            -1015|              00000|              BK|                                F|                .280|            1 AVE|     & 101st Street|                  0|                0|                11|                   0|                   BBBBBBA|                0000|              0000|            .|                     -|                 0|                 -|                  0|                001|
|    max|          9196360641|       ]|                WY|       WUG|04/23/2025|                99|                 YY|                ``|                 Y|             97950|             98310|             98280|               88888888|               809|               809|               997|            999811|              V97G|                   Z|             709P|              2359P|              ST|                                X|                ZERO|       Zwicky Ave|              zl St|           20260115|             1180|                o3|                   T|                   YYYYYYY|               LL  A|                LL|        Yello|                     0|              2069|                 N|                  9|                  Z|
+-------+--------------------+--------+------------------+----------+----------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+-------------------+----------------+---------------------------------+--------------------+-----------------+-------------------+-------------------+-----------------+------------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------------+------------------+-------------------+-------------------+

In [90]:
df = df.dropDuplicates()

No duplicate values found

In [91]:
df.count()

3532970

In [208]:
df = df.withColumn('issue_date2', F.to_timestamp('issue_date', 'MM/dd/yyyy')).drop('issue_date')

In [209]:
df = df.withColumnRenamed('issue_date2', 'issue_date')

In [113]:
df.show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|         issue_date|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|    1492814167| JEA3777|                NY|       PAS|            20|             TAXI|       VOLVO|             P|           0|       40404|       40404|               20250102|              0088|                88|            803|     950192|          0803|        0000|         0621P|               NULL|               K|                                F|         125|      NORTH PORTLAND|               NULL|                  0|        408|          F1|                NULL|                   BBBBBBB|                 ALL|               ALL|          BLK|                     0|        2011|           -|             0|               NULL|2025-01-02 00:00:00|
|    4042039145| KKA8982|                NY|       PAS|             5|             4DSD|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0702A|               NULL|              BK|                             NULL|        NULL|WB CHURCH AVE @ E 8T|               H ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           RD|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039510| MSA3480|                PA|       PAS|             5|               CP|         BMW|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0757A|               NULL|              QN|                             NULL|        NULL|EB JAMAICA AVE @ SUT|          PHIN BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039522| 63383NA|                NY|       COM|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039534| 63383NA|                NY|       COM|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039546| LWL6395|                PA|       PAS|             5|              SDN|       LEXUS|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039558| 22312NE|                NY|       COM|             5|             DELV|       FRUEH|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|EB CHURCH AVE @ CONE|       Y ISLAND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GR|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039560|T131642C|                NY|       OMT|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0804A|               NULL|              QN|                             NULL|        NULL| NB WOODHAVEN BLVD @|           97TH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039571| TKT1742|                TX|       PAS|             5|               LL|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ E 1|            94TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2011|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039583|T799929C|                NY|       OMT|             5|             4DSD|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BK|                             NULL|        NULL|WB KINGS HIGHWAY @ E|            37TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2015|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039595| KLA7363|                NY|       PAS|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0807A|               NULL|              QN|                             NULL|        NULL|SB MAIN ST @ SANFORD|                AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039601| LJP3596|                NY|       PAS|             5|             PICK|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|              TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039613|  M98RUH|                NJ|       PAS|             5|             SEDA|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2012|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039625| LSG3024|                PA|       PAS|             5|              SDN|       INFIN|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0811A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039637| LAP5753|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0812A|               NULL|              MN|                             NULL|        NULL|EB W 181ST ST @ WADS|          WORTH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         LTBK|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039649| LFM6699|                NY|       PAS|             5|             SUBN|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|NB SMITH ST @ FULTON|               MALL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039650| DNW2856|                NY|       PAS|             5|             SUBN|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|SB NOSTRAND AVE @ EA|         STERN PKWY|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2005|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039662| JPL1592|                NY|       PAS|             5|             SUBN|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0814A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2022|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039674| KYN5423|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0815A|               NULL|              ST|                             NULL|        NULL|NB HYLAN BLVD @ MIDL|            AND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BL|                  NULL|        2009|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039686| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
only showing top 20 rows

## **Filters**

In [210]:
df.filter(df.violation_code.isNull()).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|issue_date|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+

In [104]:
df.filter(df.plate_id.isNull()).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-----------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|issue_date2|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-----------+
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-----------+

We have the Violation Code for all the tickets as well as the plate ID

In [105]:
df.filter(df.vehicle_year >= 2025).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|        issue_date2|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|    4042039686| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039698| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039730|  J26VAW|                NJ|       PAS|             5|             SEDA|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0818A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ ITT|             NER PL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040226| ZXX7339|                PA|       PAS|             5|               TK|       FRUEH|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0859A|               NULL|              BX|                             NULL|        NULL|NB BRONX RIVER AVE @|    BRUCKNER BLVD S|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040937| LSK7818|                NY|       PAS|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1022A|               NULL|              BX|                             NULL|        NULL|WB E GUNHILL RD @ DE|          CATUR AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042042703|  Y94PLM|                NJ|       PAS|             5|             SPOR|       ME/BE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0117P|               NULL|              BK|                             NULL|        NULL|EB KINGS HIGHWAY @ M|        CDONALD AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042044025| LRS6891|                NY|       PAS|             5|             4DSD|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0324P|               NULL|              QN|                             NULL|        NULL| SB WOODHAVEN BLVD @|        JAMAICA AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042045418| FHN7119|                NY|       PAS|             5|             SUBN|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0431P|               NULL|              MN|                             NULL|        NULL|EB E 14TH STREET @ U|       NIVERSITY PL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042046400| LRS2066|                NY|       PAS|             5|             4DSD|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0520P|               NULL|              BK|                             NULL|        NULL| EB FULTON ST @ BOND|                 ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042052113| JDORADO|                NY|       SRF|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0732P|               NULL|              MN|                             NULL|        NULL|EB E 14TH STREET @ U|       NIVERSITY PL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042052484| HJX5747|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0640P|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|              TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042052666| JDORADO|                NY|       SRF|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0731P|               NULL|              MN|                             NULL|        NULL|EB W 14TH STREET @ 5|             TH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    1498490426| LRU7771|                NY|       PAS|            14|              SDN|       HONDA|             P|       27530|       61010|       25370|               20261125|              0076|                76|             76|     947223|          0076|        0000|         0638A|               NULL|               K|                                F|         606|          CLINTON ST|               NULL|                  0|        408|          E2|                NULL|                   BBBBBBB|                 ALL|               ALL|           BK|                     0|        2025|           -|             0|               NULL|2025-01-02 00:00:00|
|    1498748120| LNZ5579|                NY|       PAS|            46|              SDN|       HYUND|             P|           0|       40404|       40404|               20250930|              0078|                78|             78|     959571|          0078|        0000|         0722P|               NULL|              NY|                                F|          57|           LENOX AVE|               NULL|                  0|        408|          F1|                NULL|                   BBBBBBB|                 ALL|               ALL|          BLU|                     0|        2025|           -|             0|               NULL|2025-01-02 00:00:00|
|    1498831382| 27791BT|                NY|       999|            98|              BUS|       ICCOR|             P|       69230|       83330|       23230|               20250228|              0081|                81|             81|     973505|          0081|        0000|         0655A|               NULL|               K|                                F|         857|         PARK AVENUE|               NULL|                  0|        408|          D1|                NULL|                   BBBBBBB|                 ALL|               ALL|        YELLO|                     0|        2025|           -|             0|               NULL|2025-01-02 00:00:00|
|    1499796602| LRY7697|                NY|       PAS|            98|              SDN|       HONDA|             P|       15640|        8190|       57790|               20241228|               115|               115|            115|     965917|          0115|        0000|         0915A|               NULL|               Q|                                F|       32-31|           74 STREET|               NULL|                  0|        408|          E2|                NULL|                   BBBBBBB|                 ALL|               ALL|          RED|                     0|        2025|           -|             0|               NULL|2025-01-02 00:00:00|
|    1500041956| HJG8400|                NY|       PAS|            24|             SUBN|       VOLKS|             P|       16480|       19030|       15780|               20261109|              0062|                62|             62|     955323|          0062|        0000|         0718P|               NULL|               K|                                F|         122|       BAY 22 STREET|               NULL|                  0|        408|          E2|                NULL|                   BBBBBBB|                 ALL|               ALL|         BLUE|                     0|        2026|           -|             0|               NULL|2025-01-02 00:00:00|
|    2017786550|T109976C|                NY|       OMT|            21|             SUBN|       HONDA|             S|       22920|       40404|       40404|               20250228|              0049|                49|              0|          0|          BX11|        NULL|         1203P|              00000|           Bronx|                                F|        2347|       CRUGER AVENUE|               NULL|                  0|        408|          d1|                NULL|                         Y|               1130A|             0100P|           WH|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2018853004| KHP2105|                NY|       PAS|            21|             SUBN|         KIA|             S|       55690|       21940|       22040|               20251102|               102|               102|              0|     686288|          QW09|        NULL|         1228P|              00000|             Qns|                                F|      131-17| METROPOLITAN AVENUE|               NULL|                  0|        408|          d1|                NULL|                         Y|               1200P|             0130P|           GY|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2020423698| LSK1673|                NY|       OMS|            21|             SUBN|       TOYOT|             S|       37980|       14180|       14230|               20250930|              0069|                69|              0|     668698|          KS18|        NULL|         1116A|              00000|           Kings|                                F|        1454|      EAST 94 STREET|               NULL|                  0|        408|          d1|                NULL|                         Y|               1130A|             0100P|           WH|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
only showing top 20 rows

In [106]:
df.filter((df.vehicle_make == 'DODGE') & ((df.vehicle_color == 'White' ) |(df.vehicle_color=='WH'))).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+--------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name| intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|        issue_date2|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+--------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|    2017786330| HBN1468|                NY|       PAS|            21|             SUBN|       DODGE|             S|       52220|       72620|       10620|               20260722|              0049|                49|              0|          0|          BX11|        NULL|         0812A|              00000|           Bronx|                                F|         782|  MORRIS PARK AVENUE|                NULL|                  0|        408|          d1|                NULL|                      NULL|               0800A|             0830A|           WH|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2020587920| KZX4230|                NY|       PAS|            21|             SUBN|       DODGE|             S|        9930|        5780|        5880|               20250406|              0068|                68|              0|     627420|          KS11|        NULL|         1135A|              00000|           Kings|                                F|         720|           67 STREET|                NULL|                  0|        408|          d1|                NULL|                         Y|               1130A|             0100P|           WH|                  NULL|        2006|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2021890302| 3148790|                IN|       PAS|            21|             DELV|       DODGE|             S|           0|           0|           0|                      0|              0088|                88|              0|     684362|          KN02|        NULL|         0308A|              00000|           Kings|                             NULL|        NULL|S/S of PARK AVENUE 5|' E/O RYERSON STREET|                  0|        408|          d1|                NULL|                     Y Y Y|               0300A|             0600A|           WH|                  NULL|           0|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2021985751|  123128|                NE|       PAS|            21|             2DSD|       DODGE|             S|       58530|       12130|       86030|                      0|              0071|                71|              0|          0|          KN09|        NULL|         1204P|              00000|           Kings|                                O|         664|        MAPLE STREET|                NULL|                  0|        408|          d1|                NULL|                      Y  Y|               1100A|             1230P|           WH|                  NULL|           0|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2021999841| KSA8135|                NY|       PAS|            21|             SUBN|       DODGE|             S|       81030|       80630|       31230|               20251229|              0083|                83|              0|          0|          KN04|        NULL|         1147A|              00000|           Kings|                                F|         397|     STANHOPE STREET|                NULL|                  0|        408|          d1|                NULL|                      Y  Y|               1100A|             1230P|           WH|                  NULL|        2017|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2022007840| LAP1005|                NY|       PAS|            21|             SUBN|       DODGE|             S|       36730|       26230|       77930|               20250302|              0067|                67|              0|     997576|          KN17|        NULL|         0830A|              00000|           Kings|                                F|         236|      EAST 42 STREET|                NULL|                  0|        408|          d1|                NULL|                      Y  Y|               0800A|             0930A|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2022021319| ZTX3584|                PA|       PAS|            21|             PICK|       DODGE|             S|       70020|       55720|       18520|                      0|              0043|                43|              0|     695776|          BX09|        NULL|         0926A|              00000|           Bronx|                                F|        2121|     TURNBULL AVENUE|                NULL|                  0|        408|          d1|                NULL|                      Y  Y|               0830A|             1000A|           WH|                  NULL|           0|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    2022079474|  W29PZA|                NJ|       PAS|            21|             SUBN|       DODGE|             S|       80930|       23930|       89940|                      0|              0090|                90|              0|     687745|          KN01|        NULL|         1002A|              00000|           Kings|                                O|         276|        STAGG STREET|                NULL|                  0|        408|          d1|                NULL|                      Y  Y|               0930A|             1100A|           WH|                  NULL|           0|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040706| 59711ND|                NY|       COM|             5|             UTIL|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0957A|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|               TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932315144| KXJ2102|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0258A|               NULL|              BX|                             NULL|        NULL|NB RIVERDALE AVE @ W|            254TH ST|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2016|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932315983| JRB2338|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0337A|               NULL|              QN|                             NULL|        NULL| NB CROSS BAY BLVD @|           159TH AVE|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2011|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932317189|  BA2650|                NY|       PSD|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0422A|               NULL|              BX|                             NULL|        NULL|NB SOUTHERN BLVD @ C|          ROTONA AVE|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932319101|  KYD409|                MN|       PAS|            36|             SEDA|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0526A|               NULL|              MN|                             NULL|        NULL| NB MALCOLM X BLVD /| LENOX AVE @ W 138TH|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|        White|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932324613| LKS7160|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0726A|               NULL|              ST|                             NULL|        NULL|WB SEAVIEW AVE @ N R|         AILROAD AVE|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932331526| KJM4605|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0849A|               NULL|              QN|                             NULL|        NULL|EB HORACE HARDING EX| PRESSWAY @ PECK AVE|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932334369| KXZ6198|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0930A|               NULL|              BX|                             NULL|        NULL| NB LONGFELLOW AVE @|         JENNINGS ST|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932339392| DJB8942|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1015A|               NULL|              QN|                             NULL|        NULL|WB N CONDUIT AVE @ 8|              8TH ST|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932346165| JLK8386|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1116A|               NULL|              MN|                             NULL|        NULL| NB WEST ST @ W 11TH|                  ST|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932347790| FJM5620|                NY|       PAS|            36|             SUBN|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1130A|               NULL|              MN|                             NULL|        NULL| NB WEST ST @ WARREN|                  ST|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4932349828| HUV7391|                NY|       PAS|            36|             4DSD|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1148A|               NULL|              BX|                             NULL|        NULL|WB BRUCKNER BLVD @ W|      HITE PLAINS RD|                  0|       1180|           B|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2007|        NULL|             0|               NULL|2025-01-02 00:00:00|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+--------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
only showing top 20 rows

In [107]:
df.filter((df.registration_state != 'NY') & (df.registration_state!= 'NJ')).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|        issue_date2|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|    4042039510| MSA3480|                PA|       PAS|             5|               CP|         BMW|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0757A|               NULL|              QN|                             NULL|        NULL|EB JAMAICA AVE @ SUT|          PHIN BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039546| LWL6395|                PA|       PAS|             5|              SDN|       LEXUS|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039571| TKT1742|                TX|       PAS|             5|               LL|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ E 1|            94TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2011|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039625| LSG3024|                PA|       PAS|             5|              SDN|       INFIN|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0811A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039686| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039698| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039704| MMG1016|                PA|       PAS|             5|              SDN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2017|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039716|3453998B|                IL|       PAS|             5|             PICK|         GMC|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0817A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2014|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039728| LZW2169|                PA|       PAS|             5|               SW|       ME/BE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0818A|               NULL|              BX|                             NULL|        NULL|EB E 163RD ST @ SIMP|             SON ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2016|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039777| 7GD1384|                MD|       PAS|             5|             Spor|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0821A|               NULL|              BK|                             NULL|        NULL| EB FULTON ST @ BOND|                 ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039789| 7GD1384|                MD|       PAS|             5|             Spor|       DODGE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0822A|               NULL|              BK|                             NULL|        NULL| EB FULTON ST @ BOND|                 ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042039935| 8270BF4|                AL|       PAS|             5|             HATC|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0831A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ ITT|             NER PL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2011|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040068| SDP5790|                GA|       PAS|             5|               4S|       Volks|             V|           0|       40404|       40404|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0845A|               NULL|              BK|                             NULL|        NULL|SB UTICA AVE @ AVE N|               NULL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|        WHITE|                  NULL|        2017|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040093| BH98591|                CT|       PAS|             5|             SPOR|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0849A|               NULL|              BK|                             NULL|        NULL|NB UTICA AVE @ CHURC|              H AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040111| MHN3258|                PA|       PAS|             5|              SDN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0850A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ ITT|             NER PL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040123| MHN3258|                PA|       PAS|             5|              SDN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0850A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ ITT|             NER PL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040159| 7SFY448|                CA|       PAS|             5|               4D|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0854A|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|              TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2015|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040196| MRC8839|                PA|       PAS|             5|              SDN|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0857A|               NULL|              QN|                             NULL|        NULL|SB MAIN ST @ 37TH AV|                  E|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2004|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040226| ZXX7339|                PA|       PAS|             5|               TK|       FRUEH|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0859A|               NULL|              BX|                             NULL|        NULL|NB BRONX RIVER AVE @|    BRUCKNER BLVD S|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    4042040238| BN77798|                CT|       PAS|             5|             SPOR|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0901A|               NULL|              BK|                             NULL|        NULL|SB NOSTRAND AVE @ LI|          NDEN BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
only showing top 20 rows

In [108]:
df.filter((df.vehicle_body_type == 'SPOR')& (df.violation_code != 5) & (df.violation_code != 36) ).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+--------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name| intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|        issue_date2|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+--------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
|    5139257063|  F29UGK|                NJ|       PAS|             7|             SPOR|       CADIL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0807A|               NULL|              BX|                             NULL|        NULL| GUN HILL ROAD (E/B)|    @ EASTCHESTER RD|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2013|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139257233|  H18SRL|                NJ|       PAS|             7|             SPOR|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0830A|               NULL|              BK|                             NULL|        NULL| CLASSON AVE (N/B) @|        FLUSHING AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2008|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139262654|  B38STV|                NJ|       PAS|             7|             SPOR|       VOLVO|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0251A|               NULL|              BK|                             NULL|        NULL|OCEAN PKWY (N/B) @ A|                VE W|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139262666|  G97NUH|                NJ|       PAS|             7|             SPOR|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0257A|               NULL|              QN|                             NULL|        NULL|L.I.E. N. SVC ROAD (|W/B) @ COLLEGE PT BL|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139262710|  Z44UHD|                NJ|       PAS|             7|             SPOR|       ROVER|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0339A|               NULL|              QN|                             NULL|        NULL| CROSSBAY BLVD (S/B)|         @ 156TH AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139262782|  S90PPU|                NJ|       PAS|             7|             SPOR|       SUBAR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0743A|               NULL|              ST|                             NULL|        NULL|FOREST AVE (E/B) @ S|            OUTH AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139263488|  G37RMX|                NJ|       PAS|             7|             SPOR|         BMW|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1017A|               NULL|              BK|                             NULL|        NULL|OCEAN PKWY (N/B) @ C|           HURCH AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139263191|  A2UCNC|                AL|       PAS|             7|             SPOR|       HYUND|             V|           0|       27310|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1254A|               NULL|              BX|                             NULL|        NULL|ALLERTON AVE (E/B) @|     WHITE PLAINS RD|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2015|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139263671|  S53SEN|                NJ|       PAS|             7|             SPOR|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1055A|               NULL|              BK|                             NULL|        NULL|ATLANTIC AVE (W/B) @|    PENNSYLVANIA AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2009|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139263841|  5ASM25|                MA|       PAS|             7|             SPOR|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1110A|               NULL|              BX|                             NULL|        NULL|E 135TH ST (W/B) @ A|        LEXANDER AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139264043|  Y38PAB|                NJ|       PAS|             7|             SPOR|       ROVER|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1128A|               NULL|              ST|                             NULL|        NULL|VICTORY BLVD (W/B) @|           MORANI ST|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139264389|  474ULT|                CT|       PAS|             7|             SPOR|       ME/BE|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1147A|               NULL|              BX|                             NULL|        NULL|E 135TH ST (W/B) @ A|        LEXANDER AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2010|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139264638|  Z65UZR|                NJ|       PAS|             7|             SPOR|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1212P|               NULL|              ST|                             NULL|        NULL|ARTHUR KILL RD (W/B)|      @ RICHMOND AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139264640|  Z66SHF|                NJ|       PAS|             7|             SPOR|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1213P|               NULL|              BK|                             NULL|        NULL|BAY PKWY (S/B) @ 65T|                H ST|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139264894|  U52USY|                NJ|       PAS|             7|             SPOR|       LEXUS|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1231P|               NULL|              BK|                             NULL|        NULL|BAY PKWY (S/B) @ 65T|                H ST|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139264973|  U70PJE|                NJ|       PAS|             7|             SPOR|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1237P|               NULL|              BK|                             NULL|        NULL|FLATBUSH AVE (N/B) @|         GLENWOOD RD|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139265011|  T54UAN|                NJ|       PAS|             7|             SPOR|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1239P|               NULL|              BK|                             NULL|        NULL|OCEAN PKWY (N/B) @ A|                VE W|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139265060|  C27RRN|                NJ|       PAS|             7|             SPOR|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1244P|               NULL|              ST|                             NULL|        NULL|ARTHUR KILL RD (W/B)|       @ GIFFORDS LN|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139265072| DHANNOO|                NJ|       PAS|             7|             SPOR|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1244P|               NULL|              ST|                             NULL|        NULL|FOREST AVE (E/B) @ S|            OUTH AVE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|
|    5139265266|  T23UNU|                NJ|       PAS|             7|             SPOR|        AUDI|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         1259P|               NULL|              ST|                             NULL|        NULL| RICHMOND RD (E/B) @|       NEW DORP LANE|                  0|       1111|           D|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+--------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+
only showing top 20 rows

## **New Columns**

In [211]:
#New column to see Month in the date
df = df.withColumn('Month_Issue_Date', F.month('issue_date'))

In [212]:
# Extract - F.regexp_extract(str, pattern, idx)
df = df.withColumn('violation_day_time', F.regexp_extract('violation_time','(.)(.)(.)(.)(.)' ,5))

In [213]:
# Regex Replace - F.regexp_replace(str, pattern, replacement)[source]
df = df.withColumn('violation_day_time', F.regexp_replace('violation_day_time', 'A', 'Morning'))
df = df.withColumn('violation_day_time', F.regexp_replace('violation_day_time', 'P', 'Afternoon'))

In [214]:
df.show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+----------------+------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|         street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|         issue_date|Month_Issue_Date|violation_day_time|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+----------------+------------------+
|    1492814167| JEA3777|                NY|       PAS|            20|             TAXI|       VOLVO|             P|           0|       40404|       40404|               20250102|              0088|                88|            803|     950192|          0803|        0000|         0621P|               NULL|               K|                                F|         125|      NORTH PORTLAND|               NULL|                  0|        408|          F1|                NULL|                   BBBBBBB|                 ALL|               ALL|          BLK|                     0|        2011|           -|             0|               NULL|2025-01-02 00:00:00|               1|         Afternoon|
|    4042039145| KKA8982|                NY|       PAS|             5|             4DSD|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0702A|               NULL|              BK|                             NULL|        NULL|WB CHURCH AVE @ E 8T|               H ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           RD|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039510| MSA3480|                PA|       PAS|             5|               CP|         BMW|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0757A|               NULL|              QN|                             NULL|        NULL|EB JAMAICA AVE @ SUT|          PHIN BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2021|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039522| 63383NA|                NY|       COM|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039534| 63383NA|                NY|       COM|             5|              VAN|       CHEVR|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0758A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           WH|                  NULL|        2020|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039546| LWL6395|                PA|       PAS|             5|              SDN|       LEXUS|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039558| 22312NE|                NY|       COM|             5|             DELV|       FRUEH|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0759A|               NULL|              BK|                             NULL|        NULL|EB CHURCH AVE @ CONE|       Y ISLAND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GR|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039560|T131642C|                NY|       OMT|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0804A|               NULL|              QN|                             NULL|        NULL| NB WOODHAVEN BLVD @|           97TH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039571| TKT1742|                TX|       PAS|             5|               LL|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BX|                             NULL|        NULL|SB WEBSTER AVE @ E 1|            94TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2011|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039583|T799929C|                NY|       OMT|             5|             4DSD|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0806A|               NULL|              BK|                             NULL|        NULL|WB KINGS HIGHWAY @ E|            37TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2015|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039595| KLA7363|                NY|       PAS|             5|             SUBN|       TOYOT|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0807A|               NULL|              QN|                             NULL|        NULL|SB MAIN ST @ SANFORD|                AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039601| LJP3596|                NY|       PAS|             5|             PICK|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              QN|                             NULL|        NULL|WB JAMAICA AVE @ 168|              TH ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2023|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039613|  M98RUH|                NJ|       PAS|             5|             SEDA|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0810A|               NULL|              BK|                             NULL|        NULL|NB ROGERS AVE @ MONT|          GOMERY ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2012|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039625| LSG3024|                PA|       PAS|             5|              SDN|       INFIN|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0811A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2018|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039637| LAP5753|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0812A|               NULL|              MN|                             NULL|        NULL|EB W 181ST ST @ WADS|          WORTH AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         LTBK|                  NULL|        2019|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039649| LFM6699|                NY|       PAS|             5|             SUBN|        JEEP|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|NB SMITH ST @ FULTON|               MALL|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2024|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039650| DNW2856|                NY|       PAS|             5|             SUBN|       NISSA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0813A|               NULL|              BK|                             NULL|        NULL|SB NOSTRAND AVE @ EA|         STERN PKWY|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BK|                  NULL|        2005|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039662| JPL1592|                NY|       PAS|             5|             SUBN|       HYUND|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0814A|               NULL|              QN|                             NULL|        NULL|SB MERRICK BLVD @ BA|         ISLEY BLVD|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           GY|                  NULL|        2022|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039674| KYN5423|                NY|       PAS|             5|             SUBN|       HONDA|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0815A|               NULL|              ST|                             NULL|        NULL|NB HYLAN BLVD @ MIDL|            AND AVE|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|           BL|                  NULL|        2009|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
|    4042039686| 565202T|                TN|       PAS|             5|             NULL|        LANL|             V|           0|           0|           0|                      0|              NULL|                 0|              0|          0|          NULL|        NULL|         0816A|               NULL|              BK|                             NULL|        NULL|WB FULTON ST @ LAWRE|             NCE ST|                  0|       1111|           C|                   T|                      NULL|                NULL|              NULL|         NULL|                  NULL|        2025|        NULL|             0|               NULL|2025-01-02 00:00:00|               1|           Morning|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+--------------------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+-------------------+----------------+------------------+
only showing top 20 rows

## **Queries**

In [238]:
df_data = df
df2_data =df2

In [239]:
df_data.createOrReplaceTempView('tickets')
df2_data.createOrReplaceTempView('codes')

**Top 10 Most Frequent Violation Areas**

In [248]:
df.filter(df.street_code1.isNull()).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|issue_date|Month_Issue_Date|violation_day_time|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+

In [249]:
f_sc1_df = df.filter(df.street_code1 != 0)
f_sc1_df.count()

1895416

In [250]:
f_sc1_df.createOrReplaceTempView("f_sc1_tickets")

In [251]:
top10_df = spark.sql("""
    SELECT `violation_county`, `street_code1`, COUNT(*) AS ticket_count
    FROM f_sc1_tickets
    GROUP BY `violation_county`, `street_code1`
    ORDER BY ticket_count DESC
    LIMIT 10
    """).show()

+----------------+------------+------------+
|violation_county|street_code1|ticket_count|
+----------------+------------+------------+
|              NY|       13610|       33119|
|              NY|       10210|       21732|
|              NY|       25390|       18271|
|              NY|       24890|       15376|
|              NY|       10110|       14880|
|              NY|       10010|       14050|
|              NY|       10410|       13140|
|              NY|       11710|       11266|
|               K|       28830|       10781|
|              NY|       10510|       10276|
+----------------+------------+------------+

| Code | Administrative District


---


| NY |	Manhattan

| K |	Brooklyn

In [252]:
top10_df = spark.sql("""
    SELECT
        CASE
            WHEN `violation_county` IN ('K') THEN 'Brooklyn'
            WHEN `violation_county` IN ('NY') THEN 'Manhattan'
            ELSE `violation_county`
        END AS `violation_county`,
        `street_code1`,
        COUNT(*) AS ticket_count
    FROM f_sc1_tickets
    GROUP BY `violation_county`, `street_code1`
    ORDER BY ticket_count DESC
    LIMIT 10
""")

top10_df.show()

+----------------+------------+------------+
|violation_county|street_code1|ticket_count|
+----------------+------------+------------+
|       Manhattan|       13610|       33119|
|       Manhattan|       10210|       21732|
|       Manhattan|       25390|       18271|
|       Manhattan|       24890|       15376|
|       Manhattan|       10110|       14880|
|       Manhattan|       10010|       14050|
|       Manhattan|       10410|       13140|
|       Manhattan|       11710|       11266|
|        Brooklyn|       28830|       10781|
|       Manhattan|       10510|       10276|
+----------------+------------+------------+

**Top 5 For Each Most Frequent Violation Areas.**

In [253]:
top5_df = spark.sql("""
WITH renamed_tickets AS (
  SELECT
    CASE
      WHEN `violation_county` IN ('K', 'BK') THEN 'Brooklyn'
      WHEN `violation_county` = 'NY' THEN 'Manhattan'
      ELSE 'Other'
    END AS borough,
    `street_code1`,
    COUNT(*) AS ticket_count
  FROM f_sc1_tickets
  WHERE `violation_county` IN ('K', 'BK', 'NY')
  GROUP BY borough, `street_code1`
),
ranked_per_borough AS (
  SELECT *,
         ROW_NUMBER() OVER(PARTITION BY borough ORDER BY ticket_count DESC) AS rank
  FROM renamed_tickets
)
SELECT *
FROM ranked_per_borough
WHERE rank <= 5
ORDER BY ticket_count DESC, borough
    """).show()

+---------+------------+------------+----+
|  borough|street_code1|ticket_count|rank|
+---------+------------+------------+----+
|Manhattan|       13610|       33119|   1|
|Manhattan|       10210|       21732|   2|
|Manhattan|       25390|       18271|   3|
|Manhattan|       24890|       15376|   4|
|Manhattan|       10110|       14880|   5|
| Brooklyn|       28830|       10781|   1|
| Brooklyn|       67730|        5859|   2|
| Brooklyn|       13430|        5320|   3|
| Brooklyn|        5580|        5306|   4|
| Brooklyn|       54050|        4866|   5|
+---------+------------+------------+----+

| Code | Administrative District


---


| NY |	Manhattan

| K |	Brooklyn

| BK |	BrooklynOld Writing Style

**What is the Top3 common issuing agency?**

In [254]:
df.filter(df.issuing_agency.isNull()).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|issue_date|Month_Issue_Date|violation_day_time|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+

In [255]:
df.createOrReplaceTempView("f_ia_tickets")

In [ ]:
top3_df = spark.sql("""
WITH agency_counts AS (
  SELECT
    `issuing_agency`,
    COUNT(*) AS ticket_count
  FROM f_ia_tickets
  GROUP BY `issuing_agency`
),
ranked_agencies AS (
  SELECT *,
         RANK() OVER (ORDER BY ticket_count DESC) AS rank
  FROM agency_counts
)
SELECT *
FROM ranked_agencies
WHERE rank <= 3
ORDER BY ticket_count DESC
    """).show()

T-TRAFFIC

V-DEPARTMENT OF TRANSPORTATION

M-TRANSIT AUTHORITY

**What is the most common violation code?**

In [256]:
df.filter(df.violation_code.isNull()).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|issue_date|Month_Issue_Date|violation_day_time|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+

In [258]:
df2.filter(df2.violation_code.isNull()).show()

+--------------+---------------------+---------------+------------+
|violation_code|violation_description|manhattan_finea|others_finea|
+--------------+---------------------+---------------+------------+
+--------------+---------------------+---------------+------------+

In [259]:
top10_vc_df = spark.sql("""
    SELECT
      t.`violation_code`,
      COUNT(*) AS ticket_count,
      vc.`violation_description`
    FROM tickets AS t
    JOIN codes AS vc
    ON t.`violation_code` = vc.`violation_code`
    GROUP BY t.`violation_code`, vc.`violation_description`
    ORDER BY ticket_count DESC
    LIMIT 10
    """).show(truncate=False)

+--------------+------------+------------------------------+
|violation_code|ticket_count|violation_description         |
+--------------+------------+------------------------------+
|36            |938024      |PHTO SCHOOL ZN SPEED VIOLATION|
|21            |398682      |NO PARKING-STREET CLEANING    |
|38            |272844      |FAIL TO DSPLY MUNI METER RECPT|
|14            |191770      |NO STANDING-DAY/TIME LIMITS   |
|43            |162783      |EXPIRED METER-COMM METER ZONE |
|5             |152779      |BUS LANE VIOLATION            |
|40            |148959      |FIRE HYDRANT                  |
|15            |138523      |NO STANDING-OFF-STREET LOT    |
|20            |129074      |NO PARKING-DAY/TIME LIMITS    |
|7             |124776      |FAILURE TO STOP AT RED LIGHT  |
+--------------+------------+------------------------------+

**Which vehicle years have the most violations?**

In [260]:
df.filter(df.vehicle_year.isNull()).show()

+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
|summons_number|plate_id|registration_state|plate_type|violation_code|vehicle_body_type|vehicle_make|issuing_agency|street_code1|street_code2|street_code3|vehicle_expiration_date|violation_location|violation_precinct|issuer_precinct|issuer_code|issuer_command|issuer_squad|violation_time|time_first_observed|violation_county|violation_in_front_of_or_opposite|house_number|street_name|intersecting_street|date_first_observed|law_section|sub_division|violation_legal_code|days_parking_in_effect____|from_hours_in_effect|to_hours_in_effect|vehicle_color|unregistered_vehicle?:|vehicle_year|meter_number|feet_from_curb|violation_post_code|issue_date|Month_Issue_Date|violation_day_time|
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+
+--------------+--------+------------------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+-------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+----------------------+------------+------------+--------------+-------------------+----------+----------------+------------------+

In [261]:
f_vy_df = df.filter(df.vehicle_year != 0)
f_vy_df.count()

2916930

In [262]:
f_vy_df.createOrReplaceTempView("f_vy_tickets")

In [263]:
top10_vy_df = spark.sql("""
    SELECT
      `vehicle_year`,
      COUNT(*) AS violation_count
    FROM f_vy_tickets
    WHERE `vehicle_year` IS NOT NULL
    GROUP BY `vehicle_year`
    ORDER BY violation_count DESC
    LIMIT 10
""").show()

+------------+---------------+
|vehicle_year|violation_count|
+------------+---------------+
|        2024|         316546|
|        2023|         291611|
|        2022|         211793|
|        2019|         209685|
|        2021|         196030|
|        2020|         189677|
|        2018|         171224|
|        2017|         163106|
|        2016|         141310|
|        2015|         133599|
+------------+---------------+

**What month has the most violations?**

In [217]:
spark.sql("""
          SELECT month_issue_date, COUNT(plate_id) as Number_Tickets
          FROM tickets
          GROUP BY month_issue_date
          ORDER BY Number_Tickets DESC
          """).show()

+----------------+--------------+
|month_issue_date|Number_Tickets|
+----------------+--------------+
|               3|       1183173|
|               2|       1176807|
|               1|       1172934|
|               4|            56|
+----------------+--------------+

**What kind of car has the most violations? **

In [122]:
spark.sql("""
          SELECT vehicle_body_type, COUNT(plate_id) as Number_Tickets
          FROM tickets
          GROUP BY vehicle_body_type
          ORDER BY Number_Tickets DESC
          """).show()

+-----------------+--------------+
|vehicle_body_type|Number_Tickets|
+-----------------+--------------+
|             SUBN|       1603966|
|             4DSD|        795446|
|              VAN|        306965|
|             PICK|        115865|
|             DELV|        104736|
|             SPOR|         90679|
|             SEDA|         58295|
|             2DSD|         49717|
|              SDN|         49068|
|               SW|         39216|
|               UT|         36330|
|               4D|         28789|
|             REFG|         25055|
|             TRAC|         17819|
|             TAXI|         16617|
|               SD|         13311|
|             CONV|         12217|
|               4S|         11754|
|             UTIL|         11524|
|             TRLR|          9720|
+-----------------+--------------+
only showing top 20 rows

**When is the most common violation time?**

In [133]:
df_data = df.filter(df.violation_time.isNotNull())
df_data.createOrReplaceTempView('tickets')

In [134]:
spark.sql("""
          SELECT violation_time, COUNT(plate_id) as Number_Tickets
          FROM tickets
          GROUP BY violation_time
          ORDER BY Number_Tickets DESC
          """).show()

+--------------+--------------+
|violation_time|Number_Tickets|
+--------------+--------------+
|         1142A|          6693|
|         1140A|          6652|
|         0840A|          6578|
|         1141A|          6531|
|         0836A|          6492|
|         0906A|          6486|
|         1143A|          6481|
|         0908A|          6473|
|         0838A|          6471|
|         1145A|          6467|
|         1144A|          6467|
|         1146A|          6462|
|         1139A|          6462|
|         0839A|          6455|
|         1138A|          6434|
|         0910A|          6401|
|         0843A|          6374|
|         0842A|          6368|
|         1148A|          6355|
|         1200P|          6320|
+--------------+--------------+
only showing top 20 rows

In [218]:
df_data = df.filter(df.violation_day_time.isNotNull())
df_data.createOrReplaceTempView('tickets')

In [242]:
spark.sql("""
          SELECT violation_day_time, COUNT(plate_id) as Number_Tickets
          FROM tickets
          WHERE violation_day_time ='Morning' OR violation_day_time ='Afternoon'
          GROUP BY violation_day_time
          ORDER BY Number_Tickets DESC
          """).show()

+------------------+--------------+
|violation_day_time|Number_Tickets|
+------------------+--------------+
|           Morning|       1768544|
|         Afternoon|       1764385|
+------------------+--------------+

**How much do we collect in tickets per violation code? **

In [247]:
spark.sql("""
          SELECT r.violation_code , c.manhattan_finea, c.others_finea, Number_Tickets_M,Number_Tickets_M*c.manhattan_finea as Total_M, Number_Tickets_O, Number_Tickets_O * c.others_finea as Total_O, Total_o+Total_M as Total
          FROM(
          SELECT violation_code, COUNT(CASE when registration_state='NY'THEN 1 END) as Number_Tickets_M, COUNT(CASE when registration_state!='NY' THEN 1 END) as Number_Tickets_O
          FROM tickets
          GROUP BY violation_code) r
          INNER JOIN codes c
          ON r.violation_code =c.violation_code
          ORDER BY Total DESC
          """).show()

+--------------+---------------+------------+----------------+--------+----------------+--------+--------+
|violation_code|manhattan_finea|others_finea|Number_Tickets_M| Total_M|Number_Tickets_O| Total_O|   Total|
+--------------+---------------+------------+----------------+--------+----------------+--------+--------+
|            36|             50|          50|          685722|34286100|          252302|12615100|46901200|
|            21|             65|          45|          271748|17663620|          126934| 5712030|23375650|
|            14|            115|         115|          126458|14542670|           65312| 7510880|22053550|
|            40|            115|         115|           93843|10791945|           55116| 6338340|17130285|
|            15|            115|         115|           99602|11454230|           38921| 4475915|15930145|
|            38|             65|          35|          193145|12554425|           79699| 2789465|15343890|
|            43|             65|          35|          114239| 7425535|           48544| 1699040| 9124575|
|            46|            115|         115|           56258| 6469670|           20855| 2398325| 8867995|
|            20|             65|          60|           89834| 5839210|           39240| 2354400| 8193610|
|            71|             65|          65|          122052| 7933380|             139|    9035| 7942415|
|             5|             50|          50|          112460| 5623000|           40319| 2015950| 7638950|
|            31|            115|         115|           35068| 4032820|           25678| 2952970| 6985790|
|             7|             50|          50|           95098| 4754900|           29678| 1483900| 6238800|
|            19|            115|         115|           31022| 3567530|           16841| 1936715| 5504245|
|            16|             95|          95|           36857| 3501415|           15094| 1433930| 4935345|
|            70|             65|          65|           71962| 4677530|             335|   21775| 4699305|
|            69|             65|          35|           44983| 2923895|           12202|  427070| 3350965|
|            37|             65|          35|           43113| 2802345|           10527|  368445| 3170790|
|            74|             65|          65|           36819| 2393235|           10976|  713440| 3106675|
|            12|             50|          50|           39016| 1950800|           16264|  813200| 2764000|
+--------------+---------------+------------+----------------+--------+----------------+--------+--------+
only showing top 20 rows